section.verde {
    background-color: green;
}
footer.azul {
    background-color: cadetblue;
    text
}
div.azul {
    background-color: blue;
    display: inline;
    width: 500px;
    height: 300px;
}